/* line 5, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 12, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
body {
  padding: 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 19, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
/* line 25, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */ }
  /* line 30, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
/* line 39, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

/* line 45, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
/* line 50, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  /* line 54, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
/* line 61, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
.marketing {
  margin: 40px 0; }
  /* line 64, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 71, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .container {
    max-width: 730px; }
  /* Remove the padding we set earlier */
  /* line 78, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }
  /* Space out the masthead */
  /* line 83, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .header {
    margin-bottom: 30px; }
  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 87, D:/DATA/Projects/Toa/TOA.web.db.editor/app/styles/main.scss */
  .jumbotron {
    border-bottom: 0; } }
.sport{
    background-position: center;
    background-size: cover;
}
/*# sourceMappingURL=main.css.map */
