$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import "bootswatch";
@import "rotating-card";
.sport{
    color: white;
    background-position: center;
    background-size: cover;
}
