<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="ComunidadesCtrl as comctrl">
    <h4>
            <span class="label label-info">
    Comunidades <span class="badge">{{comctrl.coms.length}}</span>
        </span><br /><br />
            <span class="label label-warning">
    Comunidades sin deporte <span class="badge">{{comctrl.unregcoms.length}}</span>
        </span>
    </h4>
    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" ng-click="comctrl.activep=null"><span class="glyphicon glyphicon-calendar"></span> Crear comunidad
    </button>
    <div class="clearfix">

    </div>
    <br>

    <div class="clearfix">

    </div>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Icono</th>
                <th>Nombre</th>
                <th>Moto B-)</th>
                <th>Descripción</th>
                <th>Zona</th>
                <th>Horario semana</th>
                <th>Horario fds</th>
                <th>Redes</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning" ng-repeat="com in comctrl.unregcoms">
                <td>{{com.row[0]}}</td>
                <td>{{com.row[1].name}}</td>
                <td><img src="" ng-src="{{com.row[1].imgurl}}" /></td>
                <td>{{com.row[1].moto}}</td>
                <td>{{com.row[1].descr}}</td>
                <td>{{com.row[1].zone}}</td>
                <td>{{com.row[1].weekTime}}</td>
                <td>{{com.row[1].weekendTime}}</td>
                <td>
                    <a target="_blank" ng-show="com.row[1].IG" ng-href="{{trustUrl(com.row[1].IG)}}">
                        <i class="fa fa-instagram fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="com.row[1].FB" ng-href="{{ trustUrl(com.row[1].FB)}}">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="com.row[1].TW" ng-href="{{ trustUrl(com.row[1].TW)}}">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="comctrl.process(com)" ng-init="comctrl.activep = null">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-disabled="comctrl.isDel" ng-click="comctrl._delete(com)" ng-init="comctrl.isDel=false">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="com in comctrl.coms">
                <td>{{com.row[0]}}</td>
                <td><img src="" ng-src="{{com.row[1].imgurl}}" width="100px" /></td>
                <td>{{com.row[1].name}}</td>
                <td>{{com.row[1].moto}}</td>
                <td>{{com.row[1].descr}}</td>
                <td>{{com.row[1].zone }}</td>
                <td>{{com.row[1].weekTime}}</td>
                <td>{{com.row[1].weekendTime}}</td>
                <td>
                    <a target="_blank" ng-show="com.row[1].IG" ng-href="{{trustUrl(com.row[1].IG)}}">
                        <i class="fa fa-instagram fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="com.row[1].FB" ng-href="{{ trustUrl(com.row[1].FB)}}">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="com.row[1].TW" ng-href="{{ trustUrl(com.row[1].TW)}}">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="comctrl.process(com)" ng-init="comctrl.activep = null">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn  btn-danger" ng-click="comctrl._delete(com)" ng-disabled="comctrl.isDel" ng-init="comctrl.isDel=false">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comunidad</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <legend>{{comctrl.activep.row[1].name}}</legend>
                        <input type="hidden" name="" id="input" class="form-control" ng-model="comctrl.activep.row[0]" required>
                        <div class="form-group">
                            <label for="pname">Nombre</label>
                            <input type="text" class="form-control" id="pname" ng-model="comctrl.activep.row[1].name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="pdescr">Imagen</label>
                           <input type="file" ng-model="comctrl.activep.imgFile">
                            {{comctrl.activep.imgFile}}
                        </div>
                        <div class="form-group">
                            <label for="pdescr">Descripción</label>
                            <textarea class="form-control" id="pdescr" ng-model="comctrl.activep.row[1].descr" rows="7" placeholder="Descripción larga, detallada... todo lo que no cubren los demás campos, aquí"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="pfb">FB</label>
                            <input type="url" class="form-control" id="pfb" ng-model="comctrl.activep.row[1].FB" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="ptw">TW</label>
                            <input type="url" class="form-control" id="ptw" ng-model="comctrl.activep.row[1].TW" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="pig">IG</label>
                            <input type="url" class="form-control" id="pig" ng-model="comctrl.activep.row[1].IG" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="purl">Website</label>
                            <input type="url" class="form-control" id="purl" ng-model="comctrl.activep.row[1].website" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="pmail">e-mail</label>
                            <input type="email" class="form-control" id="pmail" ng-model="comctrl.activep.row[1].email" placeholder="usuaro@ejemplo.com">
                        </div>
                        <div class="form-group">
                            <label for="pzone">Zona</label>
                            <select name="pzone" id="pzone" class="form-control" ng-model="comctrl.activep.row[1].zone" required="required">
                                <option value="Norte">Norte</option>
                                <option value="Sur">Sur</option>
                                <option value="Centro">Centro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pcontact">Horario</label>
                            <input type="tel" class="form-control" id="pcontact" ng-model="comctrl.activep.row[1].weekTime" placeholder="horario lun-vie">
                        </div>
                        <div class="form-group">
                            <label for="pcontact">Horario fds</label>
                            <input type="tel" class="form-control" id="pcontact" ng-model="comctrl.activep.row[1].weekendTime" placeholder="horario fines de semana">
                        </div>
                        <div class="form-group">
                            <label for="pcontact">Contacto</label>
                            <input type="text" class="form-control" id="pcontact" ng-model="comctrl.activep.row[1].contact" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label for="pmoto">Moto</label>
                            <input type="text" class="form-control" id="pmoto" ng-model="comctrl.activep.row[1].moto" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label for="pccel">Celular</label>
                            <input type="tel" class="form-control" id="pccel" ng-model="comctrl.activep.row[1].cel" placeholder="celular">
                        </div>
                        <div class="form-group">
                            <label for="pcphone">Convencional</label>
                            <input type="tel" class="form-control" id="pcphone" ng-model="comctrl.activep.row[1].phone" placeholder="convencional">
                        </div>
                        <button type="submit" class="btn" ng-class="comctrl.activep.row[0] ? 'btn-primary': 'btn-success'" ng-disabled="comctrl.doing" ng-init="comctrl.doing = false" ng-click="comctrl.activep.row[0] ? comctrl.prepare(comctrl.activep,true) : comctrl.prepare(comctrl.activep,false)" ng-show="comctrl.activep">{{comctrl.activep.row[0] ? "Actualizar": "Crear"}}</button>
                        {{comctrl.imgProgress}}
                    </form>
                    <br/> {{comctrl.activep.row[0]}}
                    <div class="well" ng-show="comctrl.result">
                        {{comctrl.result}}
                    </div>
                    <div class="alert alert-danger" ng-show="comctrl.error">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                        </button>
                        <strong>Error</strong> {{comctrl.error}}
                    </div>

                </div>
                <div class="modal-footer">
                    <p>Deporte</p>
                    <select name="" id="input" class="form-control" ng-model="comctrl.activep.sport" required="required">
                        <option value="Natación">Natación</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Running">Running</option>
                        <option value="Triatlón">Triatlón</option>
                        <option value="Fútbol">Fútbol</option>
                        <option value="Ciclismo">Ciclismo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
