<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="EstablecimientosCtrl as esctrl">
    <h4>
            <span class="label label-info">
    Establecimientos en total <span class="badge">{{esctrl.places.length}}</span>
        </span><br /><br />
            <span class="label label-warning">
    Establecimientos sin deporte <span class="badge">{{esctrl.unregplaces.length}}</span>
        </span>
    </h4>
    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" ng-click="esctrl.activep=null"><span class="glyphicon glyphicon-calendar"></span> Crear establecimiento
    </button>
    <div class="clearfix">

    </div>
    <br>

    <div class="clearfix">

    </div>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Dirección</th>
                <th>Zona</th>
                <th>Horario semana</th>
                <th>Horario fds</th>
                <th>Redes</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning" ng-repeat="place in esctrl.unregplaces">
                <td>{{place.row[0]}}</td>
                <td>{{place.row[1].name}}</td>
                <td>{{place.row[1].descr}}</td>
                <td>{{place.row[1].address}}</td>
                <td>{{place.row[1].zone }}</td>
                <td>{{place.row[1].weekTime}}</td>
                <td>{{place.row[1].weekendTime}}</td>
                <td>
                    <a target="_blank" ng-show="place.row[1].IG" ng-href="{{trustUrl(place.row[1].IG)}}">
                        <i class="fa fa-instagram fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="place.row[1].FB" ng-href="{{ trustUrl(place.row[1].FB)}}">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="place.row[1].TW" ng-href="{{ trustUrl(place.row[1].TW)}}">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="esctrl._delete(place)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-disabled="esctrl.isDel" ng-click="esctrl._delete(place)" ng-init="esctrl.isDel=false">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="place in esctrl.places">
                <td>{{place.row[0]}}</td>
                <td>{{place.row[1].name}}</td>
                <td>{{place.row[1].descr}}</td>
                <td>{{place.row[1].address}}</td>
                <td>{{place.row[1].zone }}</td>
                <td>{{place.row[1].weekTime}}</td>
                <td>{{place.row[1].weekendTime}}</td>
                <td>
                    <a target="_blank" ng-show="place.row[1].IG" ng-href="{{trustUrl(place.row[1].IG)}}">
                        <i class="fa fa-instagram fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="place.row[1].FB" ng-href="{{ trustUrl(place.row[1].FB)}}">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a target="_blank" ng-show="place.row[1].TW" ng-href="{{ trustUrl(place.row[1].TW)}}">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="esctrl.process(place)" ng-init="esctrl.activep = null">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn  btn-danger" ng-click="esctrl._delete(place)" ng-disabled="esctrl.isDel" ng-init="esctrl.isDel=false">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Evento</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <legend>{{esctrl.activep.row[1].name}}</legend>
                        <input type="hidden" name="" id="input" class="form-control" ng-model="esctrl.activep.row[0]" required>
                        <div class="form-group">
                            <label for="pname">Nombre</label>
                            <input type="text" class="form-control" id="pname" ng-model="esctrl.activep.row[1].name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="pdescr">Descripción</label>
                            <textarea class="form-control" id="pdescr" ng-model="esctrl.activep.row[1].descr" placeholder="Descripción"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="paddres">Dirección</label>
                            <input type="text" class="form-control" id="paddres" ng-model="esctrl.activep.row[1].address" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <label for="eX">Coordenada X</label>
                            <input type="number" class="form-control" id="eX" ng-model="esctrl.activep.row[1].X" placeholder="Longitud">
                        </div>
                        <div class="form-group">
                            <label for="eY">Coordenada Y</label>
                            <input type="number" class="form-control" id="eY" ng-model="esctrl.activep.row[1].Y" placeholder="Latitud">
                        </div>
                        <div class="form-group">
                            <label for="pfb">FB</label>
                            <input type="url" class="form-control" id="pfb" ng-model="esctrl.activep.row[1].FB" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="ptw">TW</label>
                            <input type="url" class="form-control" id="ptw" ng-model="esctrl.activep.row[1].TW" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="pig">IG</label>
                            <input type="url" class="form-control" id="pig" ng-model="esctrl.activep.row[1].IG" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="purl">Website</label>
                            <input type="url" class="form-control" id="purl" ng-model="esctrl.activep.row[1].website" placeholder="http://...">
                        </div>
                        <div class="form-group">
                            <label for="pmail">e-mail</label>
                            <input type="email" class="form-control" id="pmail" ng-model="esctrl.activep.row[1].email" placeholder="usuaro@ejemplo.com">
                        </div>
                        <div class="form-group">
                            <label for="pzone">Zona</label>
                            <select name="pzone" id="pzone" class="form-control" ng-model="esctrl.activep.row[1].zone" required="required">
                                <option value="Norte">Norte</option>
                                <option value="Sur">Sur</option>
                                <option value="Centro">Centro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pcontact">Horario</label>
                            <input type="tel" class="form-control" id="pcontact" ng-model="esctrl.activep.row[1].weekTime" placeholder="horario lun-vie">
                        </div>
                        <div class="form-group">
                            <label for="pcontact">Horario fds</label>
                            <input type="tel" class="form-control" id="pcontact" ng-model="esctrl.activep.row[1].weekendTime" placeholder="horario fines de semana">
                        </div>
                        <div class="form-group">
                            <label for="pcontact">Contacto</label>
                            <input type="text" class="form-control" id="pcontact" ng-model="esctrl.activep.row[1].contact" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label for="pccel">Celular</label>
                            <input type="tel" class="form-control" id="pccel" ng-model="esctrl.activep.row[1].cel" placeholder="celular">
                        </div>
                        <div class="form-group">
                            <label for="pcphone">Convencional</label>
                            <input type="tel" class="form-control" id="pcphone" ng-model="esctrl.activep.row[1].phone" placeholder="convencional">
                        </div>
                        <button type="submit" class="btn" ng-class="esctrl.activep.row[0] ? 'btn-primary': 'btn-success'" ng-disabled="esctrl.doing" ng-init="esctrl.doing = false" ng-click="esctrl.activep.row[0] ? esctrl.update(esctrl.activep) : esctrl.create(esctrl.activep)" ng-show="esctrl.activep">{{esctrl.activep.row[0] ? "Actualizar": "Crear"}}</button>
                    </form>
                    <br/> {{esctrl.activep.row[0]}}
                    <div class="well" ng-show="esctrl.result">
                        {{esctrl.result}}
                    </div>
                    <div class="alert alert-danger" ng-show="esctrl.error">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                        </button>
                        <strong>Error</strong> {{esctrl.error}}
                    </div>

                </div>
                <div class="modal-footer">
                    <p>Deporte</p>
                    <select name="" id="input" class="form-control" ng-model="esctrl.activep.sport" required="required">
                        <option value="Natación">Natación</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Running">Running</option>
                        <option value="Triatlón">Triatlón</option>
                        <option value="Fútbol">Fútbol</option>
                        <option value="Ciclismo">Ciclismo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
