<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="EventosCtrl as evctrl">
    <h4>
            <span class="label label-info">
    Eventos <span class="badge">{{evctrl.events.length}}</span>
        </span><br /><br />
            <span class="label label-warning">
    Eventos sin deporte <span class="badge">{{evctrl.unregevents.length}}</span>
        </span>
    </h4>
    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" ng-click="evctrl.activee=null"><span class="glyphicon glyphicon-calendar"></span> Crear evento
    </button>
    <div class="clearfix">
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Dirección</th>
                <th>Fecha</th>
                <th>Organizador</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning" ng-repeat="event in evctrl.unregevents">
                <td>{{event.row[0]}}</td>
                <td>{{event.row[1].name}}</td>
                <td>{{event.row[1].descr}}</td>
                <td>{{event.row[1].address}}</td>
                <td>{{event.row[1].dateStart | date:'yyyy/MM/dd'}}</td>
                <td>{{event.row[1].organizer}}</td>
                <td>{{event.row[1].price == 0 ? "Gratis" : event.row[1].price | currency: $}}</td>
                <td>{{event.row[1].cat == ""? "Sin categoría": event.row[1].cat}}</td>
                <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="evctrl.process(event)" ng-init="evctrl.activee = null, evctrl.result= null, evctrl.error=null">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-disabled="evctrl.isDel" ng-click="evctrl._delete(event)" ng-init="evctrl.isDel=false">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="event in evctrl.events">
                <td>{{event.row[0]}}</td>
                <td>{{event.row[1].name}}</td>
                <td>{{event.row[1].descr}}</td>
                <td>{{event.row[1].address}}</td>
                <td>{{event.row[1].dateStart | date:'yyyy/MM/dd'}}</td>
                <td>{{event.row[1].organizer}}</td>
                <td>{{event.row[1].price == 0 ? "Gratis" : event.row[1].price | currency: $}}</td>
                <td>{{event.row[1].cat == ""? "Sin categoría": event.row[1].cat}}</td>
                <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="evctrl.process(event)" ng-init="evctrl.activee = null">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-disabled="evctrl.isDel" ng-click="evctrl._delete(event)" ng-init="evctrl.isDel=false">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Evento</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <legend>{{evctrl.activee.row[1].name}}</legend>
                        <input type="hidden" name="" id="input" class="form-control" ng-model="evctrl.activee.row[0]" required>
                        <div class="form-group">
                            <label for="ename">Nombre</label>
                            <input type="text" class="form-control" id="ename" ng-model="evctrl.activee.row[1].name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="edescr">Descripción</label>
                            <textarea class="form-control" id="edescr" ng-model="evctrl.activee.row[1].descr" placeholder="Descripción"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="eaddres">Dirección (Punto de salida)</label>
                            <input type="text" class="form-control" id="eaddres" ng-model="evctrl.activee.row[1].address" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <label for="eX">Coordenada X</label>
                            <input type="text" class="form-control" id="eX" ng-model="evctrl.activee.row[1].X" placeholder="Longitud">
                        </div>
                        <div class="form-group">
                            <label for="eY">Coordenada Y</label>
                            <input type="text" class="form-control" id="eY" ng-model="evctrl.activee.row[1].Y" placeholder="Latitud">
                        </div>
                        <div class="form-group">
                            <label for="edstart">Fecha de inicio</label>
                            <input type="text" class="form-control input-sm" datetimepicker placeholder="inicio del evento" name="time" ng-model="evctrl.activee.row[1].dateStart">
                        </div>
                        <div class="form-group">
                            <label for="edend">Fecha de fin</label>
                            <input type="text" class="form-control input-sm" datetimepicker placeholder="fin del evento" name="time" ng-model="evctrl.activee.row[1].dateEnd">

                        </div>
                        <div class="form-group">
                            <label for="eorg">Organizador</label>
                            <input type="text" class="form-control" id="eorg" ng-model="evctrl.activee.row[1].organizer" placeholder="Organizador">
                        </div>
                        <div class="form-group">
                            <label for="edis">Distancia (Si aplica)</label>
                            <input type="number" class="form-control" id="edis" ng-model="evctrl.activee.row[1].distance" placeholder="Distancia en km">
                        </div>
                        <div class="form-group">
                            <label for="ecat">Categorías (Si aplica)</label>
                            <input type="text" class="form-control" id="ecat" ng-model="evctrl.activee.row[1].cat" placeholder="Categoría">
                        </div>
                        <div class="form-group">
                            <label for="ecat">Lugares de inscripción</label>
                             <textarea class="form-control" id="ecat" ng-model="evctrl.activee.row[1].inscrplaces" placeholder="Uno por línea">
                        </div>

                        <div class="form-group">
                            <label for="eprize">Premios </label>
                            <textarea class="form-control"  id="eprize" ng-model="evctrl.activee.row[1].prizes" placeholder="Primer lugar: *enter* Premio."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="eimgurl">Url de imagen </label>
                            <input type="url" class="form-control"  id="eimgurl" ng-model="evctrl.activee.row[1].imgurl" placeholder="http://..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="erimgurl">Url de imagen de ruta </label>
                            <input type="url" class="form-control"  id="erimgurl" ng-model="evctrl.activee.row[1].routImgUrl" placeholder="http://..."></textarea>
                        </div>

                        <div class="form-group">
                            <label for="ep">Precio (Si es gratis -> 0)</label>
                            <input type="number" class="form-control" id="ep" ng-model="evctrl.activee.row[1].price" placeholder="0" ng-init="evctrl.activee.row[1].price = 0">
                        </div>
                        <button type="submit" class="btn" ng-class="evctrl.activee.row[0] ? 'btn-primary': 'btn-success'" ng-disabled="evctrl.doing" ng-init="evctrl.doing = false" ng-click="evctrl.activee.row[0] ? evctrl.update(evctrl.activee) : evctrl.create(evctrl.activee)" ng-show="evctrl.activee">{{evctrl.activee.row[0] ? "Actualizar": "Crear"}}</button>
                    </form>
                    <br/>
                    <div class="well" ng-show="evctrl.result">
                        {{evctrl.result}}
                    </div>
                    <div class="alert alert-danger" ng-show="evctrl.error">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
                        </button>
                        <strong>Error</strong> {{evctrl.error}}
                    </div>

                </div>
                <div class="modal-footer">
                    <p>Deporte</p>
                    <select name="" id="input" class="form-control" ng-model="evctrl.activee.sport" required="required">
                        <option value="Natación">Natación</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Running">Running</option>
                        <option value="Triatlón">Triatlón</option>
                        <option value="Fútbol">Fútbol</option>
                        <option value="Ciclismo">Ciclismo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
