<div class="jumbotron" ng-controller="MainCtrl as main">
    <h1>'Allo, 'Allo!</h1>

<div class="row">
    <div class="col-md-4 col-sm-6" ng-repeat="sport in main.Sports">
     <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img ng-src="{{sport.row[1].bgurl}}"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" ng-src="{{sport.row[1].icnurl_alt}}"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">{{sport.row[1].name}}</h3>
                                <p class="profession">Product Manager</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> inna@creative-tim.com</h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> Manual Flip
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>Inna was working with our team since 2012.</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            <div class="social-links text-center">
                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="google"><i class="fa fa-instagram fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
    </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sport" ng-style="{'background-image':'url({{sport.row[1].bgurl}})'}" >
        <p>{{sport.row[1].name}}</p>
        <img src="" ng-src="{{sport.row[1].icnurl}}" height="45px" />
        <p></p>
    </div>
    <div class="clearfix">
    </div>

</div>
