<ul class="nav navbar-nav" ng-controller="MenuctrollerCtrl as menuctrl">
              <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
              <li ng-class="{ active: isActive('/eventos')}"><a ng-href="/eventos">Eventos</a></li>
              <li ng-class="{ active: isActive('/establecimientos')}"><a ng-href="/establecimientos">Establecimientos</a></li>
              <li ng-class="{ active: isActive('/comunidades')}"><a ng-href="/comunidades">Comunidades</a></li>
              <li ng-class="{ active: isActive('/about')}"><a ng-href="/about">About</a></li>
            </ul>
